.modalBackdrop {
  position: fixed;
  inset: 0;
  z-index: 1000000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  position: relative;
  height: 500px;
  width: 500px;
  overflow-y: auto;
}

.closeButton {
  position: absolute;
  top: 2rem;
  right: 1rem;
  font-size: 2rem;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
}

.header {
  margin-bottom: 1rem;
}
